@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True Namespace: Hangfire.Community.Dashboard.Forms.Pages *@
@using System.Linq
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Community.Dashboard.Forms
@using Hangfire.Community.Dashboard.Forms.Pages
@using Hangfire.Community.Dashboard.Forms.Support
@using Hangfire.Community.Dashboard.Forms.Pages
@inherits Hangfire.Dashboard.RazorPage
@{
	Layout = new LayoutPage(ManagementPage.Title);
}

<div class="row">
	<div class="col-md-3">
		@Html.RenderPartial(new Partials.ManagementSidebarPartial(ManagementSidebarItemCollection.Items))
	</div>
	<div class="col-md-9 accordion job-panels">
		@foreach (var sectionKey in jobSections.Keys)
		{
			var scrubbedSection = sectionKey.SanitizeHtmlId();
			var expanded = jobSections.Keys.First() == sectionKey;

			var headingCollapsed = expanded ? "" : "collapsed";
			var ariaExpaneded = expanded ? "true" : "false";
			var panelCollapsed = expanded ? "collapse in" : "collapse";

			if (jobSections.Count > 1)
			{

				<div class="panel panel-success card wrapper-panel" data-id="@($"section_{scrubbedSection}")">
					<div id="@($"section_heading_{scrubbedSection}")" class="panel-heading card-header @headingCollapsed" role="button" data-toggle="collapse" data-target="@($"#section_collapse_{scrubbedSection}")" aria-expanded="@ariaExpaneded" aria-controls="@($"section_collapse_{scrubbedSection}")">
						<h4 class="panel-title">@sectionKey</h4>
					</div>
					<div id="@($"section_collapse_{scrubbedSection}")" class="panel-collapse @panelCollapsed" aria-expanded="@ariaExpaneded" aria-labelledby="@($"section_heading_{scrubbedSection}")">
                        @Html.RenderPartial(new Partials.PanelPartial(scrubbedSection, jobs.Where(j => j.SectionTitle == sectionKey).ToList()))
					</div>
				</div>
			}
			else
			{
				<h1 class="page-header single-section">@sectionKey</h1>
				<div id="@($"section_collapse_{scrubbedSection}")" class="panel-collapse @panelCollapsed" aria-expanded="@ariaExpaneded" aria-labelledby="@($"section_heading_{scrubbedSection}")">
                    @Html.RenderPartial(new Partials.PanelPartial(scrubbedSection, jobs.Where(j => j.SectionTitle == sectionKey).ToList()))
				</div>
			}
		}
	</div>

	@Html.RenderPartial(new Partials.ClientResources())
</div>
